<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="directives.component.css" rel="stylesheet">
</head>
<body>
        <p>directives works!</p>
    <div *ngIf="isVisible">
        The ngIf is working.
    </div>
    <ul>
        <li *ngFor="let i of items">
        {{ i }}
        </li>
    </ul>
    <p [ngClass]="{ 'highlight': isHighlighted }">
        Am i visible now ?  </p>
</body>
</html>